<section class="stockTableView">
  <p>Tabela de produtos:</p>
  <table>
    <thead>
      <tr>
        <th>CÓDIGO</th>
        <th>DESCRIÇÃO</th>
        <th>QUANTIDADE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>MARTELO</td>
        <td>50</td>
      </tr>
      <tr>
        <td>2</td>
        <td>PREGO</td>
        <td>100</td>
      </tr>
      <tr>
        <td>3</td>
        <td>PARAFUSO</td>
        <td>70</td>
      </tr>
      <tr>
        <td>4</td>
        <td>SERRAS</td>
        <td>90</td>
      </tr>
      <tr>
        <td>5</td>
        <td>TRENAS</td>
        <td>20</td>
      </tr>
    </tbody>
  </table>
  <div class="bottomBtn">
    <a href="#!/cadProduto">Novo Produto</a>
    <a href="#!/altEstoque">Alterar Estoque</a>
  </div>
</section>
