<section class="cadProduto">
    <p>Cadastro de Novos Produtos</p>
    <div class="descLabel">
        <input type="text" id="inputDesc" ng-model="prodDesc" autocomplete="off">
        <label for="inputDesc">Nome do Produto</label>
    </div>
    <div class="qtdLabel">
        <input type="number" id="inputQtd" ng-model="prodQtd" autocomplete="off">
        <label for="inputQtd">Quantidade</label>
    </div>
    <div class="bottomBtn">
        <a>Cadastrar</a>
        <a href="#!/" id="backBtn">Voltar</a>
    </div>
</div>